*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
dist/
.git/
.cache/
development.ini
production.ini
.tox/
nosetests.xml
__pycache__/
bin/
share/
include/
lib/
lib64
dingen_pyramid.sqlite
pip-selfcheck.json
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
