<div class="column is-hidden-touch">
  <img src="https://s-media-cache-ak0.pinimg.com/736x/b2/7d/85/b27d85b41b69ddda088358211f387a89--free-gift-cards-free-gifts.jpg" alt="">
  <img src="https://nteb-mudflowermedia.netdna-ssl.com/wp-content/uploads/2014/07/coca-cola-launches-islam-ramadan-ad-campaign.jpg" alt="">
</div>
