<div class="field is-horizontal">
  <div class="field-body">
    <div class="field has-addons">
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-bold"></i>
          </span>
        </button>
      </div>
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-underline"></i>
          </span>
        </button>
      </div>
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-italic"></i>
          </span>
        </button>
      </div>
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-strikethrough"></i>
          </span>
        </button>
      </div>
    </div>
    <div class="field has-addons">
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-header"></i>
          </span>
        </button>
      </div>
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-font"></i>
          </span>
        </button>
      </div>
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-tint"></i>
          </span>
        </button>
      </div>
    </div>
    <div class="field has-addons">
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-align-center"></i>
          </span>
        </button>
      </div>
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-align-justify"></i>
          </span>
        </button>
      </div>
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-align-left"></i>
          </span>
        </button>
      </div>
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-align-right"></i>
          </span>
        </button>
      </div>
    </div>
    <div class="field has-addons">
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-list-ol"></i>
          </span>
        </button>
      </div>
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-list-ul"></i>
          </span>
        </button>
      </div>
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-list"></i>
          </span>
        </button>
      </div>
    </div>
    <div class="field has-addons">
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-link"></i>
          </span>
        </button>
      </div>
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-image"></i>
          </span>
        </button>
      </div>
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-youtube-square"></i>
          </span>
        </button>
      </div>
      <div class="control">
        <button class="button">
          <span class="icon is-small">
            <i class="fa fa-vimeo-square"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="field">
    <div class="control">
      <textarea class="textarea is-medium" rows="20" placeholder="Write here your entry..." tabindex=3></textarea>
    </div>
  </div>
