<nav class="pagination is-centered is-small">
  <a class="pagination-previous is-hidden-mobile">
    <span class="icon is-small">
      <i class="fa fa-chevron-left"></i>
    </span>
  </a>
  <a class="pagination-next is-hidden-mobile">
    <span class="icon is-small">
      <i class="fa fa-chevron-right"></i>
    </span>
  </a>
  <ul class="pagination-list">
    <li><a class="pagination-link is-current">1</a></li>
    <li><a class="pagination-link">2</a></li>
    <li><a class="pagination-link ">3</a></li>
    <li><a class="pagination-link">4</a></li>
    <li><span class="pagination-ellipsis">…</span></li>
    <li><a class="pagination-link">40</a></li>
    <li><a class="pagination-link">41</a></li>
    <li><a class="pagination-link">42</a></li>
    <li><a class="pagination-link">43</a></li>
  </ul>
</nav>
