{% extends "../base/two_columns.jinja2" %}

{% block left_column_content %}
  <h2 class="title is-2">Change password</h2>
  <div class="columns is-mobile is-centered">
  <form class="column is-half" action="">
      <div class="field">
        <label class="label">Current Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="****************">
        </div>
      </div>
      <div class="field">
        <label class="label">New password</label>
        <div class="control">
          <input class="input" type="password" placeholder="****************">
        </div>
      </div>
      <div class="field">
        <label class="label">Confirm password</label>
        <div class="control">
          <input class="input" type="password" placeholder="****************">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-danger pull-right">Change password</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block right_column_content %}
  {% include "../partials/advertising.jinja2" %}
  <hr>
  <h3 class="title is-3">Other actions</h3>
  <ul>
    <li>
      <a href="/d/someuser/edit">Edit profile</a>
    </li>
    <li>
      <a href="/d/someuser/blocked">Blocked Users</a>
    </li>
  </ul>
{% endblock %}
