<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/static/images/logo.png" alt="Dingen: A new way of see IT" width="28" height="28">
      &nbsp;
      Dingen
    </a>
    <button class="button navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <form class="navbar-item" action="/es-ar/blog/search/" method="GET">
        <div class="field">
          <p class="control has-icons-left">
          <input name="term" class="input" placeholder="Buscar" value="" type="text">
          <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
          </span>
          </p>
        </div>
      </form>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="/home.html">
        Home
      </a>
      <a class="navbar-item" href="/trending.html">
        Trending
      </a>
      <a class="navbar-item" href="#">
        Advance Search
      </a>
      <a class="navbar-item" href="/about_us.html">
        About us
      </a>
    </div>
  </div>
</nav>
