{% extends "base/index.jinja2" %}

{% block banner %}
  {% include 'partials/banner.jinja2' %}
{% endblock %}

{% block content %}
  <h1 class="title is-1">Ultimas entradas</h1>
  <home-page></home-page>
  {% include 'partials/paginator.jinja2' %}
{% endblock %}
