{% extends "base/index.jinja2" %}

{% block banner %}
  {% include 'partials/banner.jinja2' %}
{% endblock %}

{% block content %}
  <h1 class="title is-1">Ultimas entradas</h1>
  <div class="columns">
    <div class="column is-one-third">
      
        <div class="card home-card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="https://lorempixel.com/400/200/" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h5 class="title is-5">
                <a class="has-text-primary" href="/es-ar/blog/show/1/">
                  Dolor amet repellat odio amet
                </a>
              </h5>
              Adipisicing magnam harum veritatis quod necessitatibus ...
              
                <a href="/es-ar/blog/tag/1/tag1/">
                    #tag1
                </a>
              
                <a href="/es-ar/blog/tag/2/tag2/">
                    #tag2
                </a>
              
                <a href="/es-ar/blog/tag/3/tag3/">
                    #tag3
                </a>
              
              <br>
              <small>Junio 17, 2017</small>
            </div>
          </div>
        </div>
      
        <div class="card home-card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="https://lorempixel.com/400/200/" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h5 class="title is-5">
                <a class="has-text-primary" href="/es-ar/blog/show/4/">
                  Amet alias dicta aperiam dignissimos?
                </a>
              </h5>
              Adipisicing magnam harum veritatis quod necessitatibus ...
              
                <a href="/es-ar/blog/tag/4/tag4/">
                    #tag4
                </a>
              
                <a href="/es-ar/blog/tag/5/tag5/">
                    #tag5
                </a>
              
                <a href="/es-ar/blog/tag/6/tag6/">
                    #tag6
                </a>
              
              <br>
              <small>Junio 16, 2017</small>
            </div>
          </div>
        </div>
      
        <div class="card home-card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="https://lorempixel.com/400/200/" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h5 class="title is-5">
                <a class="has-text-primary" href="/es-ar/blog/show/5/">
                  Ipsum consectetur ipsam nulla aliquid!
                </a>
              </h5>
              Adipisicing magnam harum veritatis quod necessitatibus ...
              
                <a href="/es-ar/blog/tag/1/tag1/">
                    #tag1
                </a>
              
                <a href="/es-ar/blog/tag/2/tag2/">
                    #tag2
                </a>
              
                <a href="/es-ar/blog/tag/4/tag4/">
                    #tag4
                </a>
              
              <br>
              <small>Junio 15, 2017</small>
            </div>
          </div>
        </div>
      
    </div>
    <div class="column is-two-third">
      
        <div class="card home-card">
          <div class="card-image">
            <figure class="image">
              <img src="https://lorempixel.com/760/200/" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h5 class="title is-5">
                <a class="has-text-primary" href="/es-ar/blog/show/3/">
                  Consectetur dolor voluptates labore at
                </a>
              </h5>
              Adipisicing magnam harum veritatis quod necessitatibus. Officiis accusamus magni voluptates pariatur dicta ...
              
                <a href="/es-ar/blog/tag/1/tag1/">
                    #tag1
                </a>
              
                <a href="/es-ar/blog/tag/5/tag5/">
                    #tag5
                </a>
              
                <a href="/es-ar/blog/tag/6/tag6/">
                    #tag6
                </a>
              
              <br>
              <small>Junio 19, 2017</small>
            </div>
          </div>
        </div>
      
        <div class="card home-card">
          <div class="card-image">
            <figure class="image">
              <img src="https://lorempixel.com/760/200/" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h5 class="title is-5">
                <a class="has-text-primary" href="/es-ar/blog/show/3/">
                  Consectetur dolor voluptates labore at
                </a>
              </h5>
              Adipisicing magnam harum veritatis quod necessitatibus. Officiis accusamus magni voluptates pariatur dicta ...
              
                <a href="/es-ar/blog/tag/1/tag1/">
                    #tag1
                </a>
              
                <a href="/es-ar/blog/tag/5/tag5/">
                    #tag5
                </a>
              
                <a href="/es-ar/blog/tag/6/tag6/">
                    #tag6
                </a>
              
              <br>
              <small>Junio 19, 2017</small>
            </div>
          </div>
        </div>

        <div class="card home-card">
          <div class="card-image">
            <figure class="image">
              <img src="https://lorempixel.com/760/200/" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h5 class="title is-5">
                <a class="has-text-primary" href="/es-ar/blog/show/2/">
                  Adipisicing similique dignissimos deserunt distinctio
                </a>
              </h5>
              Adipisicing magnam harum veritatis quod necessitatibus. Officiis accusamus magni voluptates pariatur dicta ...
              
                <a href="/es-ar/blog/tag/2/tag2/">
                    #tag2
                </a>
              
                <a href="/es-ar/blog/tag/5/tag5/">
                    #tag5
                </a>
              
                <a href="/es-ar/blog/tag/6/tag6/">
                    #tag6
                </a>
              
              <br>
              <small>Junio 18, 2017</small>
            </div>
          </div>
        </div>
      
    </div>
  </div>
  {% include 'partials/paginator.jinja2' %}
{% endblock %}
