{% extends 'base/index.jinja2' %}

{% block content %}
  <div class="columns">
    <div class="column is-three-quarters-desktop">
      <h1 class="title is-1">Entradas mas aclamadas</h1>
      <div class="tabs is-hidden-mobile">
        <ul>
          <li class="is-active"><a>or this week</a></li>
          <li><a>del mes</a></li>
          <li><a>del año</a></li>
        </ul>
      </div>

      <div class="tabs is-hidden-tablet">
        <ul>
          <li class="is-active"><a>semana</a></li>
          <li><a>mes</a></li>
          <li><a>año</a></li>
        </ul>
      </div>
      {% include "partials/index_list.jinja2" %}
    </div>
    {% include "partials/advertising.jinja2" %}
  </div>
{% endblock %}
