{% extends 'base/index.jinja2' %}

{% block content %}
  <div class="columns">
    <div class="column is-three-quarters-desktop">
      <h1 class="title is-1">Entradas mas aclamadas</h1>
      <div class="tabs is-hidden-mobile">
        <ul>
          <li class="is-active"><a>or this week</a></li>
          <li><a>del mes</a></li>
          <li><a>del año</a></li>
        </ul>
      </div>

      <div class="tabs is-hidden-tablet">
        <ul>
          <li class="is-active"><a>semana</a></li>
          <li><a>mes</a></li>
          <li><a>año</a></li>
        </ul>
      </div>

      <div class="columns">

        <div class="column is-hidden-mobile">

          <div class="box is-hidden-mobile">
            <div class="media">
              <div class="media-content">
                <div class="content">
                  <h3 class="title is-4">
                    <a class="has-text-primary" href="/es-ar/blog/show/5/">
                      Ipsum consectetur ipsam nulla aliquid!
                    </a>
                  </h3>
                  <small>Junio 15, 2017</small>
                  <p>Adipisicing magnam harum veritatis quod necessitatibus. Officiis accusamus magni voluptates pariatur dicta! Voluptates officiis omnis velit delectus necessitatibus. Libero eum ...</p>
                </div>
                <div class="level is-mobile">
                  <div class="level-left">

                    <a class="level-item" href="/es-ar/blog/tag/1/tag1/">
                      #tag1
                    </a>

                    <a class="level-item" href="/es-ar/blog/tag/2/tag2/">
                      #tag2
                    </a>

                    <a class="level-item" href="/es-ar/blog/tag/4/tag4/">
                      #tag4
                    </a>

                  </div>
                  <div class="level-right">
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-facebook"></i>
                      </span>
                    </a>
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-twitter"></i>
                      </span>
                    </a>
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-google-plus"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <figure class="media-right image is-128x128">
                <img src="http://bulma.io/images/placeholders/128x128.png">
              </figure>
            </div>
          </div>

          <div class="box is-hidden-mobile">
            <div class="media">
              <div class="media-content">
                <div class="content">
                  <h3 class="title is-4">
                    <a class="has-text-primary" href="/es-ar/blog/show/6/">
                      Lorem magni et dolore nostrum?
                    </a>
                  </h3>
                  <small>Junio 14, 2017</small>
                  <p>Adipisicing magnam harum veritatis quod necessitatibus. Officiis accusamus magni voluptates pariatur dicta! Voluptates officiis omnis velit delectus necessitatibus. Libero eum ...</p>
                </div>
                <div class="level is-mobile">
                  <div class="level-left">

                    <a class="level-item" href="/es-ar/blog/tag/1/tag1/">
                      #tag1
                    </a>

                    <a class="level-item" href="/es-ar/blog/tag/4/tag4/">
                      #tag4
                    </a>

                    <a class="level-item" href="/es-ar/blog/tag/5/tag5/">
                      #tag5
                    </a>

                  </div>
                  <div class="level-right">
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-facebook"></i>
                      </span>
                    </a>
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-twitter"></i>
                      </span>
                    </a>
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-google-plus"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <figure class="media-right image is-128x128">
                <img src="http://bulma.io/images/placeholders/128x128.png">
              </figure>
            </div>
          </div>

          <div class="box is-hidden-mobile">
            <div class="media">
              <div class="media-content">
                <div class="content">
                  <h3 class="title is-4">
                    <a class="has-text-primary" href="/es-ar/blog/show/3/">
                      Consectetur dolor voluptates labore at
                    </a>
                  </h3>
                  <small>Junio 19, 2017</small>
                  <p>Adipisicing magnam harum veritatis quod necessitatibus. Officiis accusamus magni voluptates pariatur dicta! Voluptates officiis omnis velit delectus necessitatibus. Libero eum ...</p>
                </div>
                <div class="level is-mobile">
                  <div class="level-left">

                    <a class="level-item" href="/es-ar/blog/tag/1/tag1/">
                      #tag1
                    </a>

                    <a class="level-item" href="/es-ar/blog/tag/5/tag5/">
                      #tag5
                    </a>

                    <a class="level-item" href="/es-ar/blog/tag/6/tag6/">
                      #tag6
                    </a>

                  </div>
                  <div class="level-right">
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-facebook"></i>
                      </span>
                    </a>
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-twitter"></i>
                      </span>
                    </a>
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-google-plus"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <figure class="media-right image is-128x128">
                <img src="http://bulma.io/images/placeholders/128x128.png">
              </figure>
            </div>
          </div>

          <div class="box is-hidden-mobile">
            <div class="media">
              <div class="media-content">
                <div class="content">
                  <h3 class="title is-4">
                    <a class="has-text-primary" href="/es-ar/blog/show/7/">
                      Dolor laboriosam omnis dolorem ad.
                    </a>
                  </h3>
                  <small>Junio 13, 2017</small>
                  <p>Adipisicing magnam harum veritatis quod necessitatibus. Officiis accusamus magni voluptates pariatur dicta! Voluptates officiis omnis velit delectus necessitatibus. Libero eum ...</p>
                </div>
                <div class="level is-mobile">
                  <div class="level-left">

                    <a class="level-item" href="/es-ar/blog/tag/2/tag2/">
                      #tag2
                    </a>

                    <a class="level-item" href="/es-ar/blog/tag/4/tag4/">
                      #tag4
                    </a>

                    <a class="level-item" href="/es-ar/blog/tag/6/tag6/">
                      #tag6
                    </a>

                  </div>
                  <div class="level-right">
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-facebook"></i>
                      </span>
                    </a>
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-twitter"></i>
                      </span>
                    </a>
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-google-plus"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <figure class="media-right image is-128x128">
                <img src="http://bulma.io/images/placeholders/128x128.png">
              </figure>
            </div>
          </div>

          <div class="box is-hidden-mobile">
            <div class="media">
              <div class="media-content">
                <div class="content">
                  <h3 class="title is-4">
                    <a class="has-text-primary" href="/es-ar/blog/show/2/">
                      Adipisicing similique dignissimos deserunt distinctio
                    </a>
                  </h3>
                  <small>Junio 18, 2017</small>
                  <p>Adipisicing magnam harum veritatis quod necessitatibus. Officiis accusamus magni voluptates pariatur dicta! Voluptates officiis omnis velit delectus necessitatibus. Libero eum ...</p>
                </div>
                <div class="level is-mobile">
                  <div class="level-left">

                    <a class="level-item" href="/es-ar/blog/tag/2/tag2/">
                      #tag2
                    </a>

                    <a class="level-item" href="/es-ar/blog/tag/5/tag5/">
                      #tag5
                    </a>

                    <a class="level-item" href="/es-ar/blog/tag/6/tag6/">
                      #tag6
                    </a>

                  </div>
                  <div class="level-right">
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-facebook"></i>
                      </span>
                    </a>
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-twitter"></i>
                      </span>
                    </a>
                    <a class="level-item button is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-google-plus"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <figure class="media-right image is-128x128">
                <img src="http://bulma.io/images/placeholders/128x128.png">
              </figure>
            </div>
          </div>


        </div>

        <div class="column is-hidden-tablet">
          <div class="columns is-multiline">

            <div class="column is-one-third">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <h5 class="title is-5">
                      <a class="has-text-primary" href="/es-ar/blog/show/5/">
                        Ipsum consectetur ipsam nulla aliquid!
                      </a>
                    </h5>
                    <small>Junio 15, 2017</small>
                    <p>
                    Adipisicing magnam harum veritatis quod necessitatibus. Officiis accusamus magni voluptates pariatur dicta! Voluptates officiis omnis vel...
                    </p>

                    <a href="/es-ar/blog/tag/1/tag1/">#tag1</a>

                    <a href="/es-ar/blog/tag/2/tag2/">#tag2</a>

                    <a href="/es-ar/blog/tag/4/tag4/">#tag4</a>

                    <br>
                  </div>
                </div>
                <footer class="card-footer">
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-facebook"></i>
                      </span>
                    </a>
                  </span>
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-twitter"></i>
                      </span>
                    </a>
                  </span>
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-google-plus"></i>
                      </span>
                    </a>
                  </span>
                </footer>
              </div>
            </div>

            <div class="column is-one-third">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <h5 class="title is-5">
                      <a class="has-text-primary" href="/es-ar/blog/show/6/">
                        Lorem magni et dolore nostrum?
                      </a>
                    </h5>
                    <small>Junio 14, 2017</small>
                    <p>
                    Adipisicing magnam harum veritatis quod necessitatibus. Officiis accusamus magni voluptates pariatur dicta! Voluptates officiis omnis vel...
                    </p>

                    <a href="/es-ar/blog/tag/1/tag1/">#tag1</a>

                    <a href="/es-ar/blog/tag/4/tag4/">#tag4</a>

                    <a href="/es-ar/blog/tag/5/tag5/">#tag5</a>

                    <br>
                  </div>
                </div>
                <footer class="card-footer">
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-facebook"></i>
                      </span>
                    </a>
                  </span>
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-twitter"></i>
                      </span>
                    </a>
                  </span>
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-google-plus"></i>
                      </span>
                    </a>
                  </span>
                </footer>
              </div>
            </div>

            <div class="column is-one-third">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <h5 class="title is-5">
                      <a class="has-text-primary" href="/es-ar/blog/show/3/">
                        Consectetur dolor voluptates labore at
                      </a>
                    </h5>
                    <small>Junio 19, 2017</small>
                    <p>
                    Adipisicing magnam harum veritatis quod necessitatibus. Officiis accusamus magni voluptates pariatur dicta! Voluptates officiis omnis vel...
                    </p>

                    <a href="/es-ar/blog/tag/1/tag1/">#tag1</a>

                    <a href="/es-ar/blog/tag/5/tag5/">#tag5</a>

                    <a href="/es-ar/blog/tag/6/tag6/">#tag6</a>

                    <br>
                  </div>
                </div>
                <footer class="card-footer">
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-facebook"></i>
                      </span>
                    </a>
                  </span>
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-twitter"></i>
                      </span>
                    </a>
                  </span>
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-google-plus"></i>
                      </span>
                    </a>
                  </span>
                </footer>
              </div>
            </div>

            <div class="column is-one-third">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <h5 class="title is-5">
                      <a class="has-text-primary" href="/es-ar/blog/show/7/">
                        Dolor laboriosam omnis dolorem ad.
                      </a>
                    </h5>
                    <small>Junio 13, 2017</small>
                    <p>
                    Adipisicing magnam harum veritatis quod necessitatibus. Officiis accusamus magni voluptates pariatur dicta! Voluptates officiis omnis vel...
                    </p>

                    <a href="/es-ar/blog/tag/2/tag2/">#tag2</a>

                    <a href="/es-ar/blog/tag/4/tag4/">#tag4</a>

                    <a href="/es-ar/blog/tag/6/tag6/">#tag6</a>

                    <br>
                  </div>
                </div>
                <footer class="card-footer">
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-facebook"></i>
                      </span>
                    </a>
                  </span>
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-twitter"></i>
                      </span>
                    </a>
                  </span>
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-google-plus"></i>
                      </span>
                    </a>
                  </span>
                </footer>
              </div>
            </div>

            <div class="column is-one-third">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <h5 class="title is-5">
                      <a class="has-text-primary" href="/es-ar/blog/show/2/">
                        Adipisicing similique dignissimos deserunt distinctio
                      </a>
                    </h5>
                    <small>Junio 18, 2017</small>
                    <p>
                    Adipisicing magnam harum veritatis quod necessitatibus. Officiis accusamus magni voluptates pariatur dicta! Voluptates officiis omnis vel...
                    </p>

                    <a href="/es-ar/blog/tag/2/tag2/">#tag2</a>

                    <a href="/es-ar/blog/tag/5/tag5/">#tag5</a>

                    <a href="/es-ar/blog/tag/6/tag6/">#tag6</a>

                    <br>
                  </div>
                </div>
                <footer class="card-footer">
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-facebook"></i>
                      </span>
                    </a>
                  </span>
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-twitter"></i>
                      </span>
                    </a>
                  </span>
                  <span class="card-footer-item">
                    <a class="button is-small">
                      <span class="icon is-small">
                        <i class="fa fa-google-plus"></i>
                      </span>
                    </a>
                  </span>
                </footer>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    {% include 'partials/advertising.jinja2' %}
  </div>
{% endblock %}
