<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Dingen</strong> de <a href="http://github.com/ricardosiri68">Ricardo Siri</a>. El codigo fuente esta lisenciado
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. El contenido del sitio
        se encuentra lisenciado <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
    </div>
  </div>
</footer>
