{% extends "../base/two_columns.jinja2" %}

{% block left_column_content %}
  <h2 class="title is-2">Create a new entry</h2>
  {% include "../partials/entry_form.jinja2" %}
{% endblock %}

{% block right_column_content %}
  {% include "../partials/user_profile_card.jinja2" %}
  {# here could may some actions #}
  <hr>
  {% include "../partials/advertising.jinja2" %}
{% endblock %}
